<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="col-8 offset-2" >
        <br>
        <h2>Edit Details</h2>
        <form method="post" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate>
            <div>
                <label for="title" class="form-label" >Title</label>
                <input name="listing[title]" type="text" placeholder="Add a catchy title" class="form-control" value="<%= listing.title %>" required>
                <div class="invalid-feedback">Please enter title</div>
            </div>
            
            <div>
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" type="text" placeholder="Discription" class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">Please enter a short discription</div>
            </div>
            
            <div>
                <label for="image.url" class="form-label">Image Link</label>
                <input name="listing[image.url]" type="text" placeholder="Image URL/Link" class="form-control" required value="<%= listing.image.url %>">
                <div class="invalid-feedback">Image URL/Link needed</div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" type="number" placeholder="1200" class="form-control" required value="<%= listing.price %>">
                    <div class="invalid-feedback">Please enter a valid price</div>
                </div>
                
                <div class="col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" type="text" placeholder="India" class="form-control" required value="<%= listing.country %>">
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div>
                <label for="location" class="form-label">Location</label>
                <input name="listing[location]" type="text" placeholder="Jaipur, Rajasthan" class="form-control" required value="<%= listing.location %>">
                <div class="invalid-feedback">Location name should be valid</div>
            </div>
            
            <br>
            <button  class="btn btn-dark add-btn">Update</button>
            <br><br>
        </form>
    </div>
</body>